<% if local_assigns.has_key?(:screen_reader_text) %>
  <span class="sr-only"><%= screen_reader_text %></span>
<% end %>

<%
  size = local_assigns.has_key?(:size) ? size : "5"
  css_class = local_assigns.has_key?(:css_class) ? css_class : "inline-block transition-transform"
  css_class += " h-#{size} w-#{size}"
%>

<svg class="<%= css_class %> cursor-pointer"
     <%= yield if block_given? %>
     fill="none"
     viewBox="0 0 24 24"
     stroke-width="1.5"
     stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
</svg>
