<div id="<%= dom_id user_medication %>">
  <p class="my-5">
    <div class="md:flex md:items-center md:justify-between">
      <div class="min-w-0 flex-1">
        <h1>Medication</h1>
      </div>
    </div>
    <div class="min-w-0 flex-1 md:mt-2">
      <%= user_medication.medication.medication_name %>
      <p class="text-sm text-gray-500 mt-1">Taken <%= user_medication.frequency.humanize.downcase %></p>
    </div>
  </p>
</div>