<% content_for :title, "Medication" %>
<div class="mx-auto md:w-2/3 w-full">
  <%= render "shared/flash_messages" %>
  <%= render @user_medication %>
  <%= render partial: "shared/buttons/show_buttons",
    locals: {
      turbo: false,
      resource: @user_medication
    }
  %>
</div>
