<div class="mx-auto md:w-2/3 w-full">
  <%= render partial: "shared/active_record_errors", locals: { resource: @health_condition } %>
  <h1>Editing health condition</h1>
  <%= render "form", health_condition: @health_condition %>
  <div class="inline-block ml-2">
    <%= link_to "Show this health condition", @health_condition, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to health conditions", health_conditions_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
