<% if food.food_qualifiers.any? %>
  <div class="flex flex-wrap gap-1">
    <% food.food_qualifiers.ordered.each do |food_qualifier| %>
      <span><%= render(FoodQualifiers::BadgeComponent.new(name: food_qualifier.qualifier_name, size: :sm)) %></span>
    <% end %>
  </div>
<% end %>
