<% content_for :title, "Add Health Condition" %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Add health condition</h1>

  <%= render "form", user_health_condition: @user_health_condition %>

  <%= link_to "Back to my health conditions", user_health_conditions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
