<%# Display food qualifiers %>
<% if food.food_qualifiers.any? %>
  <div class="flex flex-wrap gap-1">
    <% food.food_qualifiers.ordered.each do |qualifier| %>
      <span><%= render(FoodQualifiers::BadgeComponent.new(name: qualifier.qualifier_name, size: :sm)) %></span>
    <% end %>
  </div>
<% else %>
  <span class="text-sm text-gray-500">&nbsp;</span>
<% end %>
