<% content_for :title, "Editing food qualifier" %>
<div class="mx-auto md:w-2/3 w-full">
  <h1>Editing food qualifier</h1>
  <%= render "form", food_qualifier: @food_qualifier %>
  <div class="inline-block ml-2">
    <%= link_to "Show this food qualifier", @food_qualifier, class: "show-button" %>
    <%= link_to "Back to food qualifiers", food_qualifiers_path, class: "back-button" %>
  </div>
</div>
