<% content_for :title, "Showing food qualifier" %>
<div class="mx-auto md:w-2/3 w-full">
  <%= render "shared/flash_messages" %>
  <%= render @food_qualifier %>
  <%= render partial: "shared/buttons/show_buttons",
    locals: {
      turbo: false,
      resource: @food_qualifier
    }
  %>
</div>
