<%= turbo_frame_tag "preview_content" do %>
  <div class="not-prose isolate">
    <% if user_import_hash.present? %>
      <figure class="flex flex-col gap-1 rounded-xl bg-gray-950/5 p-1 inset-ring inset-ring-gray-950/5 dark:bg-white/10 dark:inset-ring-white/10">
        <div class="not-prose overflow-auto rounded-lg bg-white outline outline-white/5 dark:bg-gray-950/50">
          <div class="h-100 space-y-4 overflow-auto overscroll-none text-gray-600 dark:bg-gray-800 dark:text-gray-400">
            <%= pretty_json(user_import_hash) %>
          </div>
        </div>
      </figure>
    <% else %>
      <div class="text-center py-8 rounded-lg bg-gray-50">
        <p class="text-gray-500">Upload a JSON file to preview its contents</p>
      </div>
    <% end %>
  </div>
<% end %>
