<%= form_with(model: UserHealthGoal.new, url: user_health_goals_path, class: "contents") do |form| %>
  <div class="mb-4">
    <%= form.text_field :health_goal_name,
        placeholder: "Enter a new health goal",
        class: "w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
  </div>
  <%= form.hidden_field :order_of_importance, value: 5 %>
  <%= form.submit "Create & Add New Health Goal",
      class: "create-and-add-new-button" %>
<% end %>
