<%= turbo_frame_tag "goals_list" do %>
  <div class="h-[300px] border border-gray-200 rounded-md overflow-y-auto">
    <%= render "user_health_goals/goals_list", health_goals: health_goals %>
  </div>
<% end %>