<div id="<%= dom_id user_health_goal %>">
  <div class="my-5">
    <strong class="block font-medium mb-1">Health goal:</strong>
    <%= user_health_goal.health_goal.health_goal_name %>
  </div>

  <div class="my-5">
    <strong class="block font-medium mb-1">Order of importance:</strong>
    <%= user_health_goal.order_of_importance %>
  </div>
</div>
