<div class="mx-auto md:w-2/3 w-full">
  <%= render partial: "shared/active_record_errors", locals: { resource: @user_health_goal } %>
  <h1>Editing health goal</h1>
  <%= render "form", user_health_goal: @user_health_goal %>
  <div class="inline-block ml-2 mt-4">
    <%= link_to "Show this health goal", @user_health_goal, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to health goals", user_health_goals_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
