<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing health goal</h1>

  <%= render "form", user_health_goal: @user_health_goal %>

  <div class="flex gap-2 mt-4">
    <%= render partial: "components/buttons/button", locals: {
      type: :link,
      variant: :secondary,
      text: "Show",
      path: user_health_goal_path(@user_health_goal)
    } %>

    <%= render partial: "components/buttons/button", locals: {
      type: :link,
      variant: :secondary,
      text: "Back",
      path: user_health_goals_path
    } %>
  </div>
</div>
