<%# This partial is used to render search results for the food selection interface %>
<% if foods.any? %>
  <%= render partial: "available_food", collection: foods, as: :food %>
<% else %>
  <div class="text-center py-10 text-gray-500">
    <% if params[:search].present? %>
      <p>No foods found matching "<%= params[:search] %>". Try a different search term or add it as a new food.</p>
    <% else %>
      <p>No more foods available to add.</p>
    <% end %>
  </div>
<% end %>