<div id="<%= dom_id user_food %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_food.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Food:</strong>
    <%= user_food.food_id %>
  </div>
</div>
