<% content_for :title, "Add Food" %>
<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Add food</h1>
  <%= render "form", user_food: @user_food %>
  <%= link_to "Back to my foods", user_foods_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
