<div class="mx-auto md:w-2/3 w-full">
  <%= render partial: "shared/active_record_errors", locals: { resource: @health_goal } %>
  <h1>Editing health goal</h1>
  <%= render "form", health_goal: @health_goal %>
</div>
