<% content_for :title, "New health goal" %>
<div class="mx-auto md:w-2/3 w-full">
  <%= render partial: "shared/active_record_errors", locals: { resource: @health_goal } %>
  <h1>New health goal</h1>
  <%= render "form", health_goal: @health_goal %>
  <%= link_to "Back to health goals", health_goals_path, class: "back-button" %>
</div>
