<% content_for :title, "Showing health goal" %>
<div class="mx-auto md:w-2/3 w-full">
  <%= render "shared/flash_messages" %>
  <%= render @health_goal %>
  <%= render partial: "shared/buttons/show_buttons",
    locals: {
      turbo: false,
      resource: @health_goal
    }
  %>
</div>
