<% content_for :yield do %>
  <% # This will be placed in the slot in the search_field_base partial %>
  <%= turbo_frame_tag "foods_list" do %>
    <div class="h-60 min-h-[15rem] max-h-60 border border-gray-200 rounded-md overflow-y-auto" data-food-search-form-target="container">
      <%= render "user_foods/select/list", foods: @items %>
    </div>
  <% end %>
<% end %>

<%= render "shared/select/search_field_base", 
  search_controller: "food-search-form", 
  resource_type: "food",
  search_path: select_multiple_user_foods_path,
  list_frame_id: "foods_list",
  placeholder: "Search foods..." do %>
  <%= yield :yield %>
<% end %>