<% content_for :title, "Showing food" %>
<div class="mx-auto md:w-2/3 w-full">
  <%= render "shared/flash_messages" %>
  <%= render @food %>
  <%= render partial: "shared/buttons/show_buttons",
    locals: {
      turbo: false,
      resource: @food,
      include_delete_button: true,
      disable_delete: @food.user_foods.count.positive?
    }
  %>
</div>
